

.sliceSlider .goog-slider-thumb {
	position: absolute;
    margin-top: -3px;
	width: 6px;
	height: 9px;
	background: #888;
    border: 0px;
    border-radius: 4px;
}


.Menu .goog-slider-thumb,
.Menu .goog-twothumbslider-value-thumb,
.Menu .goog-twothumbslider-extent-thumb {
    position: absolute;
    margin-top: -2px;
	width: 4px;
	height: 6px;
	background: #eee;
    border: 1px solid #333;
    border-radius: 4px;
}

.Menu .goog-slider-disabled,
.Menu .goog-twothumbslider-disabled {
    opacity: 0.5;
}
